<h1>Login</h1>
<%= form_with model: @session, url: "/login" do |f| %>
  <div class="form-element">
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= render "components/form-errors", messages: @session.errors.full_messages_for(:email) %>
  </div>
  <div class="form-element">
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= render "components/form-errors", messages: @session.errors.full_messages_for(:password) %>
  </div>
  <%= f.submit "Log in" %>
<% end %>
<div class="flex-center p--l">
  <span>
    No account?
    <a class="link" href="/register">
      Register now
    </a>
  </span>
</div>
