<h1>Login</h1>
<%= form_with model: @session, url: "/login" do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <% @session.errors.full_messages_for(:email).each do |message| %>
    <div><%= message %></div>
  <% end %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <% @session.errors.full_messages_for(:password).each do |message| %>
    <div><%= message %></div>
  <% end %>
  <%= f.submit "Log in" %>
<% end %>
<span>
  No account?
  <a class="btn" href="/register">
    Register
  </a>
</span>