<div class="flex-display flex-column overlay-parent">
  <% unless resource.is_favorite? %>
    <div class="overlay flex-display flex-column flex-center flex-gap--xs">
      <div>
        <em class="highlight fs--l">Notes</em> and <em class="highlight fs--l">keywords</em> are only available for
        favorites.
      </div>
      <div>
        <%= form_with model: Favorite.new do |f| %>
          <%= f.hidden_field :item_id, value: resource.id %>
          <%= f.hidden_field :preview, value: resource.title %>
          <%= f.hidden_field :favorite_type, value: resource.favorite_type %>
          <%= f.hidden_field :note, value: "" %>
          <%= f.button nil, type: :submit, class: "btn btn--primary" do %>
            <%= render partial: "components/icon-button", locals: { icon_class: "fa-solid fa-plus", text: "Add to Favorites" } %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <h2>Notes</h2>
  <%= form_with model: Favorite.new, url: resource.is_favorite? ? favorite_path(resource.favorite.id) : nil, method: :patch do |f| %>
    <div class="form-element">
      <%= f.label :note, disabled: (not resource.is_favorite?) %>
      <%= f.text_area :note, placeholder: "Write your notes here", disabled: (not resource.is_favorite?), value: resource.favorite&.note %>
    </div>
    <%= f.submit "Save", class: "btn btn--primary", disabled: (not resource.is_favorite?) %>
  <% end %>
  <h2>Keywords</h2>
  <% if (not resource.keywords.nil?) and resource.keywords.any? %>
    <div class="flex-display flex-row flex-gap--xs p-t--l p-b--l">
      <% resource.keywords.each do |keyword| %>
        <div class="pill pill--secondary">
          <span><%= keyword.title %></span>
          <div class="pill__cancel">
            <%= form_with url: keyword_path(keyword.id), method: :delete do |f| %>
              <%= f.button nil, type: :submit, class: "btn btn--pill p--0 ai-center jc-center" do %>
                <%= render partial: "components/icon-button", locals: { icon_class: "fa-solid fa-xmark" } %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= form_with model: Keyword.new, method: :post do |f| %>
    <%= f.hidden_field :favorite_id, value: resource.favorite&.id %>
    <div class="form-element">
      <div class="form-row form-input-group">
        <%= f.text_field :title, placeholder: "Add new keyword", disabled: (not resource.is_favorite?) %>
        <%= f.button nil, name: nil, type: :submit, class: "btn btn--primary form-input-group__small", disabled: (not resource.is_favorite?) do %>
          <%= render partial: "components/icon-button", locals: { icon_class: "fa-solid fa-plus", text: "Add Keyword" } %>
        <% end %>
      </div>
      <%= render "components/form-errors", messages: @keyword&.errors&.full_messages_for(:title) %>
      <%= @keyword&.errors&.full_messages %>
    </div>
  <% end %>
</div>
