<div class="resource-title">
  <% if content_for? :title %>
    <%= yield :title %>
  <% else %>
    <h1><%= resource.title %></h1>
  <% end %>
  <div class="resource-title__button">
    <%= render partial: "components/favorite-toggle-button", locals: { resource: resource, type: :large } %>
  </div>
</div>
<% if content_for? :resource %>
  <%= yield :resource %>
<% end %>
<%= render partial: "components/favorite-additions", locals: { resource: resource } %>
