<%= form_with model: @search_term, url: resource_path, method: :get do |f| %>
  <div class="form-element">
    <%= f.label :query, "Search for #{resource_name}" %>
    <div class="form-row form-input-group">
      <%= f.text_field :query, placeholder: "Search #{resource_name}" %>
      <%= f.button nil, name: nil, type: :submit, class: "btn btn--primary form-input-group__small" do %>
        <%= render partial: "components/icon-button", locals: { icon_class: "fa-solid fa-magnifying-glass", text: "Search" } %>
      <% end %>
    </div>
    <%= render "components/form-errors", messages: @search_term.errors.full_messages_for(:query) %>
  </div>
<% end %>
