<section id="favorites-report">
  <h2>Favorites Report</h2>
  <%= form_with model: report_option, url: favorites_report_index_url(@report_options), method: :get do |f| %>
    <p>Generate a printable report of your favorites.</p>
    <div class="form-element form-row">
      <%= f.check_box :show_keywords %>
      <%= f.label :show_keywords, "Include keywords" %>
    </div>
    <div class="form-element form-row">
      <%= f.check_box :show_notes %>
      <%= f.label :show_notes, "Include notes" %>
    </div>
    <div class="form-element">
      <%= f.button nil, name: nil, type: :submit, formtarget: :_blank, class: "btn btn--primary" do %>
        <%= render partial: "components/icon-button", locals: { icon_class: "fa-solid fa-print", text: "View print preview" } %>
      <% end %>
    </div>
  <% end %>
</section>
