<%= form_with(url: people_path, method: :get) do |form| %>
  <%= form.label :term, "Search for people" %>
  <%= form.text_field :term %>
  <%= form.submit "Search", name: nil %>
<% end %>

<% if @error %>
  <%= render "components/error", error: @error %>
<% end %>

<%= render :layout => "layouts/resources", :locals => {resources: people(@resources)} do |resource| %>
<a class="list__item btn btn--block" href="<%= person_path(resource["tiss_id"]) %>">
  <%= full_name(resource) %>
</a>
<% end %>
