<%= form_with(url: people_path, method: :get) do |form| %>
  <div class="form-element">
      <%= form.label :term, "Search for people" %>
      <%= form.text_field :term %>
  </div>
  <%= form.submit "Search", name: nil %>
<% end %>

<% if @error %>
  <%= render "components/error", error: @error %>
<% end %>

<%= render :partial => "layouts/resources", :locals => {resources: people(@resources, @favorites), title: nil, search_result: false} %>
