<%= form_with(url: theses_path, method: :get) do |form| %>
  <%= form.label :term, "Search for theses" %>
  <%= form.text_field :term %>
  <%= form.submit "Search", name: nil %>
<% end %>

<% if @error %>
  <%= render "components/error", error: @error %>
<% end %>

<%= render :layout => "layouts/resources", :locals => {resources: courses(@resources)} do |resource| %>
  <a class="list__item btn btn--block" href="<%= thesis_path(resource["id"]) %>">
    <%= resource["title"] or resource["id"] %>
  </a>
<% end %>
