<h1>Register</h1>
<%= form_with model: @user do |f| %>
  <div class="form-element">
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= render "components/form-errors", messages: @user.errors.full_messages_for(:email) %>
  </div>
  <div class="form-element">
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= render "components/form-errors", messages: @user.errors.full_messages_for(:password) %>
  </div>
  <%= f.submit "Register", class: "btn btn--primary btn--3d" %>
<% end %>
<%= @res %>
<div class="flex-center p--l">
  <span>
    Already have an account?
    <a class="link" href="/login">
      Login
    </a>
  </span>
</div>
