<% unless alert %>
  <% if @error %>
    <%= render "components/error", error: @error %>
  <% end %>
  <h2>Report for: <span class="term"><%= @person&.title %></span></h2>
<%= render partial: "components/resources", locals: { resources: @courses, title: "Courses" } %>
  <%= render partial: "components/resources", locals: { resources: @projects, title: "Projects" } %>
  <%= render partial: "components/resources", locals: { resources: @theses, title: "Theses" } %>
<% end %>
