<% unless alert %>
  <% if @error %>
    <%= render "components/error", error: @error %>
  <% end %>
  <p class="fs--xxl p-b--m"><b>Report for:</b></p>
  <%= render partial: "components/person-title", locals: { person: @person } %>
  <%= render partial: "components/resources", locals: { resources: @courses, title: "Courses", highlighted: true } %>
  <%= render partial: "components/resources", locals: { resources: @projects, title: "Projects", highlighted: true } %>
  <%= render partial: "components/resources", locals: { resources: @theses, title: "Theses", highlighted: true } %>
<% end %>
