<h1>Projects</h1>
<%= form_with(url: projects_path, method: :get) do |form| %>
  <div class="form-element">
    <%= form.label :term, "Search for projects" %>
    <div class="form-row form-input-group">
      <%= form.text_field :term %>
      <%= form.submit "Search", name: nil, class: "form-input-group__small" %>
    </div>
  </div>
<% end %>

<% if @error %>
  <%= render "components/error", error: @error %>
<% end %>

<%= render :layout => "layouts/resources", :locals => {resources: projects(@resources)} do |resource| %>
  <a class="list__item btn btn--block" href="<%= project_path(resource["id"]) %>">
    <!-- TODO: maybe get the title from the detail_url_rest url -->
    <%= resource["title"] or resource["id"] %>
  </a>
<% end %>
