<% if @error %>
  <div class="box box--error">
    <div class="box__title fs--xxl">Error</div>
    <%= @error %>
  </div>
<% else %>
  <h1>Results for <span class="term"><%= @term %></span>:</h1>
  <div class="list">
    <% @resources["results"].each do |result| %>
      <a class="btn btn--block" href="">
        <div class="list__item">
          <div class="flex-display flex-column">
            <div class="flex-display flex-gap--xs">
              <span class="muted fs--xs"><%= course_number(result) %></span>
            </div>
            <div class="flex-display flex-gap--m">
              <span class="italic"><%= course_type(result) %></span>
              <span><%= course_name(result) %></span>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
<% end %>
