<%= form_with(url: courses_path, method: :get) do |form| %>
  <div class="form-element">
    <%= form.label :term, "Search for courses" %>
    <%= form.text_field :term %>
  </div>
  <div class="form-element">
    <%= form.submit "Search", name: nil %>
  </div>
<% end %>

<% if @error %>
  <%= render "components/error", error: @error %>
<% end %>

<%= render :layout => "layouts/resources", :locals => {resources: courses(@resources)} do |resource| %>
  <a class="list__item btn btn--block" href="">
    <div class="flex-display flex-column">
      <div class="flex-display flex-gap--xs">
        <span class="muted fs--xs"><%= course_number(resource) %></span>
      </div>
      <div class="flex-display flex-gap--xxs">
        <span class="italic"><%= course_type(resource) %></span>
        <span><%= course_name(resource) %></span>
      </div>
    </div>
  </a>
<% end %>
