<!DOCTYPE html>
<html lang="en,de">
<head>
  <title>TUgo</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="view-transition" content="same-origin"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<nav>
  <div class="back-button">
    <%= link_to :back do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="nav__start">
    <%= link_to "TUgo", root_path, class: "logo" %>
  </div>
  <div class="nav__end">
    <% if logged_in? %>
      <%= link_to "Favorites", favorites_path, class: "nav-btn" %>
      <%= link_to "Logout", logout_path, class: "nav-btn" %>
    <% else %>
      <%= link_to "Login", login_path, class: "nav-btn" %>
      <%= link_to "Register", register_path, class: "nav-btn" %>
    <% end %>
  </div>
</nav>

<div class="container p-t--l p-b--l">
  <% if alert %>
    <%= render partial: "components/error", locals: { error: alert } %>
  <% end %>
  <% if notice %>
    <%= render partial: "components/notice" %>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
