<!DOCTYPE html>
<html lang="en,de">
<head>
  <title>TuGo</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<nav>
  <div class="nav__start">
    <a class="logo" href="">
      TUgo
    </a>
  </div>
  <div class="nav__end">
    <% if logged_in? %>
      <a href="/logout">Logout</a>
    <% else logged_in? %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% end %>
  </div>
</nav>

<div class="container p-t--l">
  <%= yield %>
</div>
</body>
</html>
